**/__pycache__/**
venv/
build/
dist/
dragon_runner.egg-info/
scratch/

**/GazpreaPackage/**
**/GeneratorPackage/**
**/VCalcPackage/**
**/VCalc24Package/**

gazpreaConfig.json
GeneratorConfig.json
vcalcConfig.json

tests/lib/*.so
