name: '415 Tester CI'
run-name: ${{ github.actor }}
on: [push]
jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3 
      
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.10'
 
      - name: Install dependencies
        run: |
          pip install -r requirements.txt
          pip install -e .

      - name: run config tests
        run: pytest tests/test_config.py

      - name: run runner tests
        run: pytest tests/test_runner.py

      - name: run grade tests
        run: pytest tests/test_grader.py
